@use "element-plus/theme-chalk/src/collapse";

.quiz-collapse.el-collapse {
  --el-collapse-content-bg-color: transparent;

  & .el-collapse-item__header {
    --el-collapse-header-bg-color: transparent;
    @apply bg-transparent text-accent pl-1 md:text-base
  }

  & .el-collapse-item__wrap {
    border-bottom: none;

    & .el-collapse-item__content {
      padding-bottom: 0;
      background-color: transparent;
    }
  }
}