@use "element-plus/theme-chalk/src/input";

.upsert-question-form .el-radio__input {
  display: flex;
  align-items: center;
  gap: 2px;
}

.questions,
.results,
.upsert-quiz, 
.users,
.quizzes {
  & .el-input {
    & .el-input__wrapper {
      & .el-input__inner {
        &::placeholder {
          @apply text-warmGray-400
        }

        @apply text-black
      }

      & .el-input__suffix {
        & .el-icon {
          @apply text-accent
        }
      }
      
      @apply bg-accentLight5
    }

    & .el-input-group__append {
      box-shadow: 0 1px 0 0 #ff7e5a4f inset,
      0 -1px 0 0 #ff7e5a4f inset,
      -1px 0 0 0 #ff7e5a4f inset;
      @apply text-accent bg-transparent hover:bg-accentLight2 hover:text-white
    }
  }
}


.questions .wrapper {
  & .el-input {
    & .el-input__wrapper {
      & .el-input__suffix {
        & .el-icon {
          @apply text-accent
        }
      }

      box-shadow:0 1px 0 0 #ff7e5a4f inset,
      0 -1px 0 0 #ff7e5a4f inset,
      1px 0 0 0 #ff7e5a4f inset,
      -1px 0 0 0 #ff7e5a4f inset;
      @apply bg-accentLight5
    }
  }
}

